<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book</h1>
    <hr>
      {% if contacts is not empty %}
      <h3>List of Contacts:</h3>
      <ul>
        {% for contact in contacts %}
        <li><strong>Name</strong>: {{ contact.getName }}</li>
        <li><strong>Phone Number</strong>: {{ contact.getPhoneNumber }}</li>
        <li><strong>Address</strong>: {{ contact.getAddress }}</li>
        <br>
        {% endfor %}
      </ul>
      {% endif %}

    <div>
      <h3>Add a Contact</h3>
      <form action='/createcontact' method='post'>
        <div>
          <label for='name'>Name:</label>
          <input id='name' name='name' type='text'>
        </div>
        <div>
          <label for='phone_number'>Phone Number:</label>
          <input id='phone_number' name='phone_number' type='text'>
        </div>
        <div>
          <label for='address'>Address</label>
          <input id='address' name='address' type='text'>
        </div>
        <button type='submit'>Submit</button>
      </form>
    </div>

    <form action='/deletecontacts' method='post'>
      <button type='submit'>Delete all contacts</button>
    </form>

  </body>
</html>
